{% extends "blog/base.html" %}
{% block content %}
    
            {% if object.author != user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-other-update' object.id %}">Add your ssssssssComments and Ratings</a>
                    <p class="article-content">{{ object.comments }} -by {{ object.author }} <br> Rated {{ object.ratings }} - by {{ object.author }} </p>
               
                    
                </div>
            {% endif %}
        </div>
        
        <p class="article-content"></p>

      </div>
    </article>
{% endblock content %}